@font-face {
    font-family: 'JetBrains Mono';
    src: local("JetBrainsMono-Regular"), url("font/JetBrainsMono-Regular.woff2");
    font-display: swap
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local("JetBrainsMono-Italic"), url("font/JetBrainsMono-Italic.woff2");
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local("JetBrainsMono-Bold"), url("font/JetBrainsMono-Bold.woff2");
    font-weight: bold;
    font-display: swap
}